*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --darkGreen: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --gray: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --head: 2rem;
    --text: 1rem;
}

img {
    max-width: 100%;
}
  
.container{
    min-height: 100vh;
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.card-box{
    margin: 1em 2em;
    background-color: white;
    border-radius: 1.5em;
    display: flex;
    max-width: 700px;
    height: 380px;
}

.deskptop_img{
    display: block;
    width: 50%;
    border-radius: 1.5em 0 0 1.5em;
}

.card-text{
    text-align: left;
    margin: 1.5em 2em;
}

.product{
    font-family: "Montserrat", sans-serif;
    font-size: var(--text);
    color: var(--gray);
    letter-spacing: 0.3em;
    font-weight: 500;
}

.product_title{
    font-size: var(--head);
    font-weight: 700;
    font-family: "Fraunces", serif;
    line-height: 1;
    margin: 0.6em 0 0.7em 0;
    width: 80%;
}

.description{
    font-family: "Montserrat", sans-serif;
    width: 96%;
    font-size: var(--text);
    color: var(--gray);
    font-weight: 500;
    margin-bottom: 1.5em;
}

.green_text{
    font-family: "Fraunces", serif;
    font-size: var(--head);
    font-weight: 700;
    color: var(--darkGreen);
    margin-right: 0.3em;
}

.og_price{
    color: grey;
    font-weight: 900;
}

.btn{
    display: block;
    background-color: var(--darkGreen);
    border-radius: 0.7em;
    color: var(--white);
    border: 0;
    width: 100%;
    margin: 2em 0 1em 0;
    padding: 1em 0;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    background-color: hsl(156, 24%, 24%);
}

.btn-img{
    margin-right: 1em;
    max-width: 100%;
}

/* For smaller screen */
 @media (max-width: 260px) {
  :root {
    --head: 1.3rem;
    --text: 0.9rem;
  }

  .card-box {
    margin: 1em;
    max-width: 200px;
  }

  .card-box {
    max-width: 200px;
  }

  .card_text {
    text-align: left;
    margin: 1.5em 0.6em;
  }

  .btn {
    padding: 0.6em 0;
  }
} 

/* For PC & HD+ screen */
@media (min-width: 650px) {
    .card-box {
      display: flex;
      max-width: 700px;
    }
  
    .desktop_img {
      display: block;
      width: 900px;
      height: 100%;
      border-radius: 1.5em 0 0 1.5em;
    }
  
    .mobile_img {
      display: none;
    }
  
    .product_title {
      width: 80%;
    }
  }
  
  /* For 4K & Full HD+ screen */
   @media (min-width: 1921px) {
    :root {
      --head: 5rem;
      --text: 2rem;
    }
  
    .card_text {
      text-align: left;
      margin: 4em 2.5em;
    }
}